body {
    display: grid;
    grid-template: 210px 1fr / minmax(250px, 1fr) 4.5fr;
    min-height: 100vh;
}

header {
    background-color: blueviolet;
    grid-column: 2 / 3;
}

#sidebar {
    background-color: cadetblue;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 100px 324px 162px;
    gap: 45px;
}

#sidebar > ul {
    display: grid;
    grid-auto-rows: 1fr;
}

#logo a,
#sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 1.8rem;
    height: 100%;
}

#logo a {
    font-size: 1.8rem;
}

#logo a:hover,
#sidebar li:hover {
    background-color: darkcyan;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    display: grid;
    grid-template: 100px 1fr / 1fr 125px 325px;
    gap: 10px 25px;
    align-items: center;

    padding: 0 60px 0 40px;
}

#content-buttons {
    grid-column: 2 / 4;
    display: flex;
    justify-content: space-between;
}

#content-buttons button {
    appearance: none;
    height: 45px;
    width: 125px;
    border: none;
    border-radius: 50px;
    color: aliceblue;
    background-color: cadetblue;
}

#content-buttons button:hover {
    background-color: darkcyan;
}




main {
    display: grid;
    grid-template: auto auto 1fr / 1fr 350px;
    gap: 30px;
    background-color: darkseagreen;
    padding: 20px;
}

main h2 {
    margin-bottom: 12px;
}

#projects {
    grid-area: 1 / 1 / 4 / 2;
}


#projects .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 270px;
    gap: 20px;
}

#projects article {
    border-left: 10px rebeccapurple solid;
    border-radius: 10px;
    padding: 20px 15px 0 15px;
}

#projects article h2 {
    font-size: 1.2rem;
    margin: 0;
}

#projects article p {
    margin: 5px 0;
}

#announcements .grid-container,
#trending .grid-container {
    border-radius: 10px;
    grid-auto-rows: auto;
    padding: 15px 20px;
}

.announcement {
    padding: 15px 5px;
    border-bottom: 1px gray solid;
    font-size: 0.9rem;
}

.announcement:last-child {
    border-bottom: none;
}

.announcement h4,
.announcement p,
.trend p {
    margin: 0;
}

#trending a {
    text-decoration: none;
    color: gray;
}

.trend {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 18px;
    align-items: center;
    padding: 12px 8px;
}

.av-small {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: gray;
}

.trend .username {
    color: black;
}

.project-card,
#announcements .grid-container,
#trending .grid-container {
    background-color: white;
    box-shadow: darkslategray 5px 9px 10px;
}
